<div *ngIf="!objetos">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list cols="1" rowHeight="0.01:0.01" *ngIf="objetos">
  <mat-grid-tile *ngFor="let objeto of objetos; let i = index">
    <mat-card>
      <mat-card-header>
        <img mat-card-mat-image src={{objeto.urlToImage}} alt="Photo of a Shiba Inu">
      </mat-card-header>
      <mat-card-content>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{objeto.title}}</mat-card-title>
        <button mat-raised-button color="warn" [routerLink]="['/detalle-objeto', i]">Ver Más</button>
        <button mat-raised-button color="warn" (click)="agregarFavorito(objeto)">Agregar A favorito</button>
        <mat-card-subtitle class="bg-danger">ID: {{objeto.description}}</mat-card-subtitle>
        {{objeto.descripction}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<p>
  <button mat-raised-button color="warn" [routerLink]="['/']"> Volver</button>
</p>
